.grid-table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.grid-cell {
  border: 1px solid #ccc;
  display: grid;
  padding: 10px;
}

.cell-image {
  width: 90%; 
  border-radius: 15px; 
}

.cell-button {
  align-self: end; 
  justify-self: center; 
}

.grid-bottom {
  display: grid;
  grid-column: 1 / 1;  
}

